<header>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Pricing</h1>
    <p class="fs-5 text-muted">Publish your content with ease with the following plans.</p>
  </div>
</header>

<!-- <main class="p-3">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary"><a routerLink="/register" class="linky">Sign up for free</a></button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>20 users included</li>
            <li>10 GB of storage</li>
            <li>Priority email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>30 users included</li>
            <li>15 GB of storage</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
        </div>
      </div>
    </div>
  </div>

  <h2 class="display-6 text-center mb-4">Compare plans</h2>

  <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          <th style="width: 34%;"></th>
          <th style="width: 22%;">Free</th>
          <th style="width: 22%;">Pro</th>
          <th style="width: 22%;">Enterprise</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-start">Public</th>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Private</th>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th scope="row" class="text-start">Permissions</th>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Sharing</th>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Unlimited members</th>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Extra security</th>
          <td></td>
          <td></td>
          <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
        </tr>
      </tbody>
    </table>
  </div>
</main> -->

<div class="container-md">
  <div class="row">
    <div class="col-lg d-flex justify-content-center text-center">
        <!-- Basic Plan -->
        <div class="card mb-4 rounded-3 shadow-sm w-75">
          <div class="card-header py-3 text-center">
            <h4 class="my-0 fw-normal">Basic Plan</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$19.99<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>5 Posts/day per platform</li>
              <li>1 Profiles (5 social networks)</li>
              <li>2 Social networks per campaign</li>
              <li>5 Active campaigns</li>
              <li>5 Primary links per Campaign</li>
              <li>Custom text watermark</li>
              <li><strong>50</strong> images per campaign</li>
              <li><strong>60</strong> #hashtags per campaign</li>
              <li><strong>30</strong> descriptions per campaign</li>
              <li><strong>2</strong> reposts per post</li>
              <li>AI description morph (Level 2)</li>
              <li>Tag 2 instagram users per post</li>
              <li>30 instagram users per campaign</li>
              <li>5 subreddits per campaign</li>
              <li><strong>Total capacity: 1,500 posts</strong></li>
            </ul>

            <button class="btn btnPrimary" (click)="userService.loginWithRedirect()">Start Today</button>
          </div>
        </div>
        </div>
        </div>

        <div class="row">
          <div class="col-lg d-flex justify-content-center text-center">

        <!-- Influencer Plan -->
        <div class="card mb-4 rounded-3 shadow-sm w-75">
          <div class="card-header py-3 text-center">
            <h4 class="my-0 fw-normal">Influencer</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$49.99<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>15 Posts/day per platform</li>
              <li>3 Profiles (15 social networks)</li>
              <li>3 Social networks per campaign</li>
              <li>10 Active campaigns</li>
              <li><strong>Smart Scheduling</strong></li>
              <li>10 Primary links per Campaign</li>
              <li>Link Analytics</li>
              <li>Custom text watermark</li>
              <li><strong>75</strong> images per campaign</li>
              <li><strong>120</strong> #hashtags per campaign</li>
              <li><strong>50</strong> descriptions per campaign</li>
              <li><strong>5</strong> reposts per post</li>
              <li>AI description morph (Level 3 - Max)</li>

              <li>Tag 6 instagram users per post</li>
              <li>75 instagram users per campaign</li>
              <li>15 subreddits per campaign</li>
              <li><strong>Total capacity: 33,750 posts</strong></li>
            </ul>

            <button class="btn btnPrimary" (click)="userService.loginWithRedirect()">Start Today</button>
          </div>
        </div>
</div>
</div>
        <div class="row">
          <div class="col-lg d-flex justify-content-center text-center">

        <!-- Mega Influencer Plan -->
        <div class="card mb-4 rounded-3 shadow-sm w-75">
          <div class="card-header py-3 text-center">
            <h4 class="my-0 fw-normal">Mega Influencer</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$99.99<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><strong>Maximum posts allowed per day, per platform</strong></li>
              <li>5 Profiles (25 social networks)</li>
              <li>5 Social networks per campaign</li>
              <li><strong>Unlimited*</strong> campaigns</li>
              <li><strong>Smart Scheduling</strong></li>
              <li>Unlimited* links per Campaign</li>
              <li>Link Analytics</li>
              <li>Custom text watermark</li>
              <li><strong>100</strong> images per campaign</li>
              <li><strong>Unlimited*</strong> #hashtags per campaign</li>
              <li><strong>75</strong> descriptions per campaign</li>
              <li><strong>10</strong> reposts per post</li>
              <li>AI description morph (Level 3 - Max)</li>

              <li>Tag 20 instagram users per post</li>
              <li>150 instagram users per campaign</li>
              <li>30 subreddits per campaign</li>
              <li><strong>Total capacity: Unlimited*</strong></li>
              <li><small>* virtually unlimited.</small></li>
            </ul>
            <button class="btn btnPrimary" (click)="userService.loginWithRedirect()">Start Today</button>
          </div>
        </div>
        </div>
        </div>
</div>
