<div class="container w-75 mt-5"><!-- wp:paragraph -->
  <div class="row">
    <div class="col-md d-flex justify-content-center mb-3">
      <img src="assets/pages/content-marketing.jpg" class="rounded" />
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <h4>Content marketing</h4>
<p> is used every day across social media to distribute "valuable, relevant, and consistent content to attract and retain a clearly defined audience - and ultimately, to drive profitable customer action" (<a href="https://contentmarketinginstitute.com/what-is-content-marketing/">CMI</a>). No matter what industry you're part of, if you're using social media as a way to market to your audience - you are essentially using content marketing. But why is it so important? There are four key reasons why you should be using content marketing:</p>
<!-- /wp:paragraph -->

<!-- wp:list {"ordered":true} -->
<ol><li>Increased sales</li><li>Cost savings</li><li>More loyal customers</li><li>Content as a profit center</li></ol>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>Content marketing has become an integral part of the overall marketing process for many small businesses and large organizations alike. Your content should be created with the intent to capture the attention of your audience. That person scrolling by? They need to stop on your content or risk being scrolled right past and possibly never seen again. What makes your content interesting and more importantly, what needs are you addressing with your product or service?</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Three important questions to answer when putting together a content marketing plan:</p>
<!-- /wp:paragraph -->

<!-- wp:list {"ordered":true} -->
<ol><li>Who is your target audience?</li><li>What value are you providing?</li><li>Are you consistent?</li></ol>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>Believe it or not, the answer to question number three can be surprising. Small businesses are particularly subject to fall short when it comes to consistency in content marketing because of the huge amount of time that needs to be spent in creating and scheduling your content. You could spend hours upon hours carefully crafting each post across the various social networks that are available now. Is that time being spent well?</p>
<!-- /wp:paragraph -->

</div>
</div>
<div class="row">
  <div class="col-md d-flex justify-content-center mb-3">
    <img src="assets/pages/social-media-engagement.jpg" class="rounded" />
  </div>
</div>

<div class="row">
  <div class="col-md">

<!-- wp:paragraph -->
<p>Even if you made a piece of content that went viral, your content marketing efforts need to be consistent - published on an ongoing and predictable schedule to your audience. I have been following a particular YouTuber for years now and I know that Monday - Thursday, around 3PM, a new video is published and ready for me to view. Sometimes I'll watch it as soon as it's released, other times I'll watch it during a meal. But it brings me comfort knowing that I'll always see a video from him released around this time. If you are being consistent with your content marketing, your audience will also come to rely on what times you're posting.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Other questions to ask yourself when developing your content marketing and defining goals:</p>
<!-- /wp:paragraph -->

<!-- wp:list {"ordered":true} -->
<ol><li>Am I doing this for brand awareness?</li><li>Am I trying to capture audience engagement?</li><li>Am I attempting to drive loyalty?</li><li>Is my goal to increase sales?</li><li>Am I attempting to create lead generation?</li></ol>
<!-- /wp:list -->

<!-- wp:quote -->
<blockquote class="wp-block-quote"><p>Content marketing can’t function at its best in a vacuum nor is it meant to be a replacement for other promotional techniques. Content works best when it operates in a cooperative capacity – when it is used to fuel and complement your other marketing efforts in alignment with your overarching business goals.</p><cite>https://contentmarketinginstitute.com/2019/09/refresh-content-marketing/</cite></blockquote>
<!-- /wp:quote -->

<!-- wp:heading {"level":3} -->
<h3>Bring consistency to your content marketing strategy</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>The easiest and fastest way to create consistency on your social media pages is to use <a href="https://contentdrip.io">contentdrip</a>. The campaign manager was designed to make it fast and easy to deploy your content to multiple social media pages with targeted scheduling. Free yourself from the chains of scheduling content so that you can focus on what's truly important - engaging and listening to your audience. It's perfect for the busy small businesses, photographers, content creators, models, and more. Try it free for 30 days.</p>
<!-- /wp:paragraph -->

</div></div></div>
